# First Principles - Minimal Test Config v2

backend:
  name: github
  repo: rcmadden/song-deck
  branch: main

# Media and public folder are required for the config to be valid.
media_folder: "media"
public_folder: "/media"

collections:
  - name: "test_collection"
    label: "Test Data"
    files:
      - name: "items"
        label: "Test Items"
        file: "test-data.json"
        fields:
          - name: "items"
            label: "List of Items"
            widget: "list"
            fields: # This specifies the fields for each object in the list
              - name: "name"
                label: "Item Name"
                widget: "string"
