# FINAL PRODUCTION CONFIGURATION

backend:
  name: github
  repo: rcmadden/song-deck
  branch: main
  open_authoring: true

publish_mode: editorial_workflow

media_folder: "souvenirs"
public_folder: "/souvenirs"

collections:
  - name: "song_collection" # Unique machine name for the collection
    label: "Song Database"
    files:
      - name: "songs_file" # Unique machine name for the file
        label: "All Songs"
        file: "songs.json"
        fields:
          - name: "songs"
            label: "Songs"
            widget: "list"
            summary: "{{fields.Title}} - {{fields.Artist}}"
            fields:
              - { name: DeckOrder, label: 'Deck Order', widget: number, required: false }
              - { name: Card, label: Card, widget: string, required: false }
              - { name: Title, label: Title, widget: string, required: false }
              - { name: Artist, label: Artist, widget: string, required: false }
              - { name: Playlists, label: Playlists, widget: string, required: false }
              - { name: PlaylistOrders, label: 'Playlist Orders', widget: string, required: false }
              - { name: Key, label: Key, widget: string, required: false }
              - { name: BPM, label: BPM, widget: number, required: false }
              - { name: TimeSignature, label: 'Time Signature', widget: string, required: false }
              - { name: Date, label: Year, widget: number, required: false }
              - { name: PuzzlePiece, label: 'Puzzle Piece', widget: string, required: false }
              - { name: EmAnda, label: 'Em & A', widget: string, required: false }
              - { name: Notes, label: Notes, widget: text, required: false }
              - { name: songId, label: 'Song ID', widget: string, required: false }
